p.texto {
    font-family: 'Space Mono', sans-serif;
}

.botao.btn:hover {
    background-color: #9ED4D6;
    height: 198px;
    width: 345px;
}

.botao {
    margin-top: auto;
    margin-bottom: auto;
    height: 198px;
    width: 345px;
    text-align: center;
}

.saberMais {
    height: 198px;
    width: 290px;
    text-align: center;
    color: black;
    font-family: 'Syne';
}

.quizQuestion {
    font-size: 50px;
    color: #FC7C5C;
    font-family: 'Syne';
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px black;
    font-weight: bold;
    line-height: 1.2em;
    padding-bottom: 75px;
}

.quizButton {
    width: 80%;
    height: 60px;
    background-color: #FEC900;
    color: #231F20;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 7px 7px #5D689C;
    font-weight: bold;
    font-family: 'Space Mono'
}

.curiusidades {
    font-family: 'Syne';
    font-weight: bold;
}

.pink {
    font-family: 'Syne';
    background-color: #F0668A;
}

.fininho {
    font-size: 1.1rem;
}

.rowYellow {
    background-color: #FEC900;
    padding-top: 40px;
}

.title {
   font-size: 80px;
   -webkit-text-stroke: 1px black;
   text-shadow: 3px 3px #373D5B;
   font-weight: bold;
   color: #9ED4D6;
   font-family: 'Syne';
}

.fito {
    margin-top: 50px;
    font-size: 20.5px;
    text-align: right;
    font-family: 'Space Mono';
    line-height: 220%;
}

.conteudo {
    margin-top: 80px;
    margin-bottom: 80px;
}

.crazy {
    margin-bottom: 90px;
}

.square {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 7px 7px #5D689C;
    font-weight: bold;
    background-color: #FEC900;
}

.rect {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 7px 7px #5D689C;
    font-weight: bold;
    background-color: #F0668A;
    position: absolute;
    right: -50px;
    top: -20px;
    z-index: 1;
    color: white;
}

.dot {
    height: 80px;
    width: 80px;
    background-color: #9ED4D6;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 170px;
    top: -60px;
    z-index: 2;
    border: 2px solid black;
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
    font-weight: bold;
  }

.title2 {
    color: #FC7C5C;
    font-family: 'Syne';
    font-size: 60px;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px #373D5B;
}

.azulinho {
    background-color: #70C7D4;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 210px;
    text-align: center;
}

.pink2 {
    font-family: 'Space Mono';
    background-color: #F0668A;
    font-weight: bold;
}

.textoAzul {
    text-align: left;
    font-family: 'Space Mono';
    line-height: 300%;
}

.yellow {
    background-color: #FEC900;
    font-weight: bold;
    font-family: 'Space Mono';
}

.tiktoks {
    background-color: #F0668A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.card {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 7px 7px #5D689C;
    font-weight: bold;
    background-color: #FEC900;
}

.title3 {
    color: #F0668A;
    font-family: 'Syne';
    font-size: 60px;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px #373D5B;
}

.last {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 7px 7px #F0668A;
    background-color: #9ED4D6;
    font-family: 'Syne';
    padding: 20px;
}

.card2 {
    height: 200px;
    text-align: center;
}

.folego {
    padding-top: 60px;
    padding-bottom: 60px;
}

.margemTitulo {
    margin-bottom: 70px;
}

.parteBranca {
    margin-top: 50px;
}

.logo {
    margin-bottom: 50px;
    margin-top: -20px;
    opacity: 0;
}

.dot2 {
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 680px;
    top: 0px;
    z-index: 2;
    text-align: center;
    padding: 10px 0;
}

.logoR {
    position: absolute;
    left: 650px;
    top: -15px;
    z-index: 3;
    width: 15%;
    height: auto;
}

.title4 {
    color: #ffffff;
    font-family: 'Syne';
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px #373D5B;
}

.icon1 {
    margin-left: 100px;
    margin-right: 50px;
}

.arrow {
    text-align: center;
    color: white;
    padding-top:50px;
}